@model IEnumerable<TravelBlog.Models.Experience>

@{
    ViewData["Title"] = "Experience - Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Experience Details</h2>
<hr />
<ul>
    @foreach (var listItem in Model)
    {
        //<li>@Html.DisplayFor(modelItem => listItem.Name)</li>

        <li>@Html.ActionLink(listItem.Name, "Details", "Experience", new { id = listItem.LocationId })</li>
    }
</ul>